body {
background: #FFFFFF;
margin: 0 20%;
}

.top {
background: #FF0000;
border: 3px solid #FFFFFF;
border-radius: 10px;
padding: 30px;
margin: 20px 0px;
text-align: center;
}

.menu, .footer {
background: #FF0000;
border: 2px solid #FFFFFF;
padding: 10px;
text-align: center;
}

a {
color: #000000;
font-size: 18px;
font-weight: bold;
}